@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}
#MainHeader{
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.15);
}

.target-element { scroll-margin-top: 5rem; }

@supports (-webkit-text-stroke: 1px white) {
  h1 {
    -webkit-text-stroke: 2px white;
    
    color: rgba(0, 0, 0, 0);
  }
  .card {
    -webkit-text-stroke: 2px black;

  }
  .card:hover {
    -webkit-text-stroke: 2px white;
    cursor: pointer;
  }
  #headerCTA {
    -webkit-text-stroke: 1px #0613D6 
  }
  .heroText {
    -webkit-text-stroke: 1px #000
  }
  .footerText {
    -webkit-text-stroke: 1px #ffffff
  }
}
